header,
main {
    margin: 0px 20px 0px 20px;
    max-width: 1440px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    @media screen and (min-width: map-get($breakpoint, tablette)){
      margin: 0 60px;
    }

    @media screen and (min-width: map-get($breakpoint, laptop)){
      margin: 0 100px;
    }
  }


  body {
    //max-width: 1440px;
    text-align: -webkit-center;
    margin: auto;
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    list-style-type: none;
  }
