@mixin typographie-header-component {
    font: {
        family: 'Montserrat', sans-serif, arial;
        size: map-get($font-size, size1);
        weight: map-get($montserrat, medium);
    };
    
    line-height: 17.22px;
    text-align: right;
    color: $salmon-color;

    @media screen and (max-width: map-get($breakpoint, laptop)) {
        text-transform: uppercase;
    }
}

@mixin typographie-footer-component {
    font: {
        family: 'Montserrat', sans-serif, arial;
        size: map-get($font-size, size1);
        weight: map-get($montserrat, medium);
    };
    
    line-height: 17.22px;
    text-align: right;
    color: $white-color;
}

@mixin typographie-banner-component {
    font: {
        style: normal;
        family: 'Montserrat', sans-serif, arial;
        size: map-get($font-size, size3);
        weight: map-get($montserrat, medium);
    };
    
    line-height: 24px;
    color: $white-color;
    margin-left: 16px;
}

@mixin typographie-404-component {
    font: {
        style: normal;
        family: 'Montserrat', sans-serif, arial;
        size: map-get($font-size, size6);
        weight: map-get($montserrat, bold);
    };
    
    line-height: 137px;
    color: $salmon-color;
    text-align: center;
}

@mixin typographie-error-component {
    font: {
        style: normal;
        family: 'Montserrat', sans-serif, arial;
        size: map-get($font-size, size2);
        weight: map-get($montserrat, medium);
    };
    
    line-height: 26px;
    color: $salmon-color;
    text-align: center;
}

@mixin typographie-errorLink-component {
    font: {
        style: normal;
        family: 'Montserrat', sans-serif, arial;
        size: map-get($font-size, size1);
        weight: map-get($montserrat, medium);
    };
    
    line-height: 20px;
    color: $salmon-color;
    text-align: center;
    text-decoration: underline;
}

@mixin typographie-thumbnail {
    font: {
        style: normal;
        family: 'Montserrat', sans-serif, arial;
        size: map-get($font-size, size2);
        weight: map-get($montserrat, medium);
    };
    
    line-height: 26px;
    color: $white-color;
    text-align: start;
}

@mixin typographie-collapse-title {
    font: {
        style: normal;
        family: 'Montserrat', sans-serif, arial;
        size: map-get($font-size, size0);
        weight: map-get($montserrat, medium);
    };
    
    line-height: 19px;
    color: $white-color;
    text-align: start;
}

@mixin typographie-collapse-description {
    font: {
        style: normal;
        family: 'Montserrat', sans-serif, arial;
        size: map-get($font-size, size);
        weight: map-get($montserrat, regular);
    };
    
    line-height: 17px;
    color: $salmon-color;
    text-align: start;
}

@mixin underline-animation {
    border-bottom: 1px solid $salmon-color;
}

@mixin layout-section {
    background: #000000;
    mix-blend-mode: darken;
    opacity: 0.3;
}

@mixin collapse__content{
    background-color: $grey-background-color;
    @include typographie-collapse-description;
    border-radius: 0 0 5px 5px;
    width: 100%;
    opacity: 0;
    animation: CollapseAnimation 1s cubic-bezier(0.4, 0, 0.2, 1) forwards ;
    z-index: -1;
    
    @media screen and (min-width: map-get($breakpoint, laptop)) {
        padding-bottom: 10px;
    }
}

@mixin typographie-sheet-title {
    font: {
        style: normal;
        family: 'Montserrat', sans-serif, arial;
        size: map-get($font-size, size2);
        weight: map-get($montserrat, medium);
    };
    
    line-height: 26px;
    color: $salmon-color;
    text-align: start;
}

@mixin typographie-sheet-location {
    font: {
        style: normal;
        family: 'Montserrat', sans-serif, arial;
        size: map-get($font-size, size1);
        weight: map-get($montserrat, medium);
    };
    
    line-height: 20px;
    color: $salmon-color;
    text-align: start;
}