@mixin typographie-header-navigation {
    font: {
        family: 'Montserrat', sans-serif, arial;
        size: 12px;
        weight: map-get($montserrat, medium);
    };
    
    line-height: 17.22px;
    text-align: right;
    color: $salmon-color;

    @media screen and (max-width: map-get($breakpoint, laptop)) {
        text-transform: uppercase;
    }
}

@mixin underline-animation {
    border-bottom: 1px solid $salmon-color;
}

@mixin layout-section {
    background: #000000;
    mix-blend-mode: darken;
    opacity: 0.3;
}
