/**
    color pallet
**/

$salmon-color: #FF6060; // Text and background
$white-color: #FFFFFF; // Section text
$black-color: #000000; // Footer background

$grey-background-color: #F7F7F7; // Dropdown background color & background location
$grey-rate-color: #E3E3E3; // Stars background color
$grey-personas-color: #C4C4C4; // Personas background color