.header{

    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;

    &__img{
        width: 145px;
        height: 47px;
    }

    &__nav{
        display: flex;
        align-items: center;

        & ul{
            display: flex;
            flex-direction: row;
            margin-top: 5px;

            :nth-child(2) {
                margin-left: 15px;
            }

            & li a{
                @include typographie-header-component;

                &:hover {
                    @include underline-animation;
                }
            }
        }
    }

}