.sheet{

    &__title{
        @include typographie-sheet-title;
        margin: 15px 0 5px 0;
    }

    &__location{
        @include typographie-sheet-location;
        margin-bottom: 10px;
    }

    &__tags{
        display: flex;
        flex-wrap: wrap;
        max-width: 1440px;
        height: auto;

        &--tag{
        width: auto;
        height: 18px;
        background-color: $salmon-color;
        border-radius: 5px;
        font-size: 10px;
        line-height: 14px;
        text-align: center;
        color: $white-color;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 2.16px 27.93px 1.84px 27.07px;
        margin: 0px 10px 10px 0px;
        }
    }
}

.personnas{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0px 0px 10.5px 16.5px;

    img{
        border-radius: 50%;
        width: 32px;
        height: 32px;
    }

    p{
        height: auto;
        width: 43px;
        @include typographie-host-name;
        margin-right: 10px;
        display: flex;
        justify-content: flex-end
    }
}